<html>
<div class="container">
  <h2> What did you say?</h2>
  <%= form_for :post, :url => { :action => "search", :controller => 'posts'}, :html => { :method => "get" } do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <br>
  <%=f.submit "Search for Words", :id => "search"%>
  <% end %>
  <h2> Search Posts</h2>
  <br>
  <br>
  <h4>Latest Projects:</h4>
  <div id="recent_log">
  </div>
</div>
</html>

